{
    "extends": "airbnb",
    "plugins": [
        "react",
        "jsx-a11y",
        "import"
    ],
    "env": {
        "mocha": true,
        "browser": true
    },
    "globals": {
    "localStorage": true,
    "sinon": true,
    "$": true
  }
}