textarea {
  height: 200px;
}
.card-content{
  background-color: #fff;
}

.card-action, button {
  background-color: e0e0e0 !important;
}

.card {
  margin-top: 10%;
}
button {
  background-color: #00b8d4 !important;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

.material-icons{
  color: #fff;
}
select {
  margin-bottom: 25px;
}

.form{
  margin-top: 15%;
  background-color: #fafafa ;
  padding: 5%;
  padding-right: 5%;
  align-self: center;
}

h4{
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  margin-left: 40%;
  color: #00b8d4;
}

.signupButton{
  margin-left: 65%;
  margin-top: 5%;
  margin-bottom: 5%;
  width: 35%;
  font-family: 'Archivo Black', sans-serif;
}