textarea {
  height: 200px;
}
.card-content{
  background-color: #fff;
}

.card-action, button {
  background-color: e0e0e0 !important;
}

.card {
  margin-top: 10%;
}
button {
  background-color: #00b8d4 !important;
  color: white;
}

.material-icons{
  color: #fff;
}
select {
  margin-bottom: 25px;
}